.drawer-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 48px;
  width: 48px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 20px;
  box-sizing: border-box;
  outline: none;
}

.button-line {
  width: 38px;
  height: 2px;
  background: white;
}

.drawer-button:hover  .button-line,
.drawer-button:active .button-line,
.drawer-button:focus .button-line {
  background: rgb(0, 163, 255);
}
