#map {
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  background: black;
  z-index: 999;
  color: white;
  height: 60px;
}

#logo, #logo a {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

nav {
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 999;
}

#main-nav {
  box-shadow: 2px 0px 5px rgb(23, 23, 23);
}

#nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  display: flex;
}

#nav-list li {
  padding: 0 10px;
  font-size: 18px;
}

#nav-list a{
  color: white;
  text-decoration: none;
}

#nav-list a:hover,
#nav-list a:active {
  color: rgb(0, 232, 255);
}

.gm-style-iw {
  max-width: 60vw;
}
